/* 
ABOUT ME ANIMATION
SVG - 2.5s .5
Green - 1s 2.2s
ME - 1s 2.7s
&:before - 1s 3s 
*/

#about-me{
    padding-bottom: 20px;
    text-align: center;
    padding-bottom: 50px;
    @include medium { 
        padding-bottom: 100px;
    }
    .about-me-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 75px;

        .about-me-img {
            display: flex;
            position: relative;
            flex: 0 0 100%;
            text-align: left;
            justify-content: center;
            align-items: center;
            @include medium {
                 flex: 0 0 100%;
            }
            @include large{
                flex: 0 0 50%;
            }
            &:before{
                position: absolute;
                top: -20px;
                left: 0;
                content: '';
                background: url(../img/decorate.png);
                width: 200px;
                height: 210px;
                z-index: -1;
                opacity: 0;
                display: none;
                @include medium {
                    left: 90px;
                     display: block;
                }
            }
            svg{
                width: 300px;
                height: 300px;
                @include medium {
                    width: 495px;
                    height: 380px;
                }
            }
            path{
                stroke-dashoffset: 1680;
                stroke-dasharray: 1680;
                stroke: $textcolor;
            }
            img{
                max-width: 400px;
                top: -5px;
                left: 50%;
                position: absolute;
                opacity: 0;
                transform: rotate(-3deg) translateX(-50%);
                @include medium {
                    max-width: 630px;
                    top: -50px;
                }
                @include large {
                    max-width: 653px;
                    top: -34px;
                    left: -82px;
                }
            }
            .me{
                max-width: 246px;
                position: absolute;
                z-index: 100;
                opacity: 0;
                left: 50%;
                top: -94px;
                transform: rotate(-2deg) translateX(-50%);
                @include medium {
                    max-width: 305px;
                }
                @include large {
                    max-width: 300px;
                    left: 25px;
                    top: -90px;
                }
            }
            &.active{
                &:before{
                    animation: imgbefore 1s 3s forwards;
                }
                path{
                    animation: svgDraw 2.5s forwards; //2,5
                }
                img{
                    animation: svgDrawnImg 1s 2.2s forwards;
                }
                .me{
                    animation: svgDrawnImg2 1s 2.7s forwards;
                }
            }
        }
        .about-me-text{
            flex: 0 0 100%;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 20px;
            @include large { 
                flex: 0 0 50%;
                padding: 0;
                text-align: left;
            }

            p{
                opacity: 0;
                &.animate-text{
                    font-size: 15px;
                    animation-delay: .1s;
                    opacity: 0;
                    margin-top: 0;
                    @include medium { 
                        font-size: 18px;
                        padding-bottom: 0;
                        animation-delay: 3.5s;
                    }
                    @include large{
                        padding-bottom: 100px;
                    }
                }
            }

        }
    }
}

@keyframes imgbefore{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes svgDraw {
    from{	
        stroke-dashoffset: 1680;
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    to{
        stroke-dashoffset: 0;
        opacity: 0;
    }
}
@keyframes svgDrawnImg {
    from{opacity: 0;}
    to{
        opacity: 1;
    }
}
@keyframes svgDrawnImg2 {
    from{
        opacity: 0;
        transform: translate(-50%, 10px) rotate(-4deg);
    }

    to{
        opacity: 1;
        transform: translate(-50%, 0px) rotate(-4deg);
    }
}