header{
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    right: 0;
    z-index: 299;
    width: 100%;
    @include animationTransition;
    @include medium { 
        padding-top: 15px;
    }
    &.active{
        top: 0;
        background: $maincolor;
        box-shadow: 0px 15px 15px -15px $secondarycolor;  
        padding-top: 0px;
        @include animationTransition;
    }
    &.hiden{
        top: -200px;
        @include animationTransition;
    }
    .header-wrapper{
        max-width: 1240px;
        margin:  0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px 0px;
        justify-content: space-between;
        align-items: center;
        .logo{
            flex: 0 0 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            @include medium {
                flex: 0 0 20%;
                max-width: 120px;
                padding-left: 20px;
            }
            svg{
                display: inline-block;
                width: auto;
                height: 37px;
                path{
                    cursor: pointer;
                    @include animationTransition(.5s);
                    fill: transparent;
                    stroke-dasharray: 570;
                    stroke-dashoffset: 0;
                    stroke: $secondarycolor;
                }
            }
            &.menu-shown{
                svg{
                    path{
                        stroke-dashoffset: 570;
                        @include animationTransition(.5s);
                    }
                }
            }
        }
        .page-navigation{
            flex: 0 0 100%;
            position: relative;
            &.active{
                height: 100vh;
                background: $maincolor;
                margin-top: -40px;
                ul{
                    display: block;
                    .close-btn{
                        margin-bottom: 25px;
                    }
                    li{
                        margin-bottom: 10px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        a{
                            font-size: 22px;
                        }
                    }
                }
            }
            @include large{
                flex: 0 0 57%;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                justify-content: space-between;
                position: relative;
                display: none;
                li{
                    flex: 0 0 16%;
                    text-align: center;
                    // animation: headerLiShow 1s forwards;
                    opacity: 1;
                    a{
                        color: $secondarycolor;
                        font-size: 18px;
                        position: relative;
                    }
                    &:hover{
                        a{
                            opacity: 1;
                            &:before{
                                top: -13px;
                                left: -13px;
                                @include animationTransition;
                                opacity: .5;
                            }
                            &:after{
                                top: 15px;
                                right: -15px;
                                color: $secondarycolor;
                                opacity: .5;

                            }
                        }
                    }
                    &:nth-child(1){
                        // animation: headerLiShow 1s 8s forwards;
                    }
                    &:nth-child(2){
                        // animation: headerLiShow 1s 8.2s forwards;
                    }
                    &:nth-child(3){
                        // animation: headerLiShow 1s 8.4s forwards;
                    }
                    &:nth-child(4){
                        // animation: headerLiShow 1s 8.6s forwards;
                    }
                    &:nth-child(5){
                        // animation: headerLiShow 1s 8.8s forwards;
                    }
                }
            }
            .li-hover{
                position: absolute;
                background: $secondarycolor;
                height: 0px;
                bottom: -3px;
                left: 0;
                @include animationTransition(.3s)
            }
            .li-hover-after{
                position: absolute;
                background: $secondarycolor;
                height: 0px;
                bottom: -3px;
                left: 0;
                @include animationTransition(.4s)
            }
        }
        .mobile-menu{
            display: none;
            width: 100%;
            position: absolute;
            top: 0;
            .close-btn{
                position: absolute;
                top: 0;

            }
            .mobile-navigation{
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                li{
                    a{
                        font-size: 25px;
                        color: $secondarycolor;
                    }
                }
            }
            &.active{
                display: flex;
                height: 100vh;
                background: $maincolor;
                overflow-y: auto;
                justify-content: center;
            }
        }

    }
}

@keyframes pageHeader{
    from{
        width: 0%
    }
    to{
        width: 100%;
    }
}

@keyframes headerLiShow{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    50%{
        opacity: 1;
        transform: translateY(-5px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}