header{
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    right: 0;
    z-index: 299;
    width: 100%;
    @include animationTransition;
    @include medium { 
        padding-top: 15px;
    }
    &.active{
        top: 0;
        background: $maincolor;
        box-shadow: 0px 15px 15px -15px $secondarycolor;  
        padding-top: 0px;
        @include animationTransition;
    }
    &.hiden{
        top: -200px;
        @include animationTransition;
    }
    .header-wrapper{
        max-width: 1240px;
        margin:  0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px 0px;
        justify-content: space-between;
        align-items: center;
        .logo{
            flex: 0 0 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            @include large {
                flex: 0 0 20%;
                max-width: 120px;
                padding-left: 20px;
            }
            svg{
                display: inline-block;
                width: auto;
                height: 37px;
                path{
                    cursor: pointer;
                    @include animationTransition(.5s, 1.2s);
                    fill: transparent;
                    stroke-dasharray: 570;
                    stroke-dashoffset: 0;
                    stroke: $secondarycolor;
                }
            }
            &.menu-shown{
                svg{
                    path{
                        stroke-dashoffset: 570;
                        @include animationTransition(.5s,);
                    }
                }
            }
        }
        .page-navigation{
            flex: 0 0 100%;
            position: fixed;
            top: 0;
            height: .01vh;
            overflow: hidden;
            width: 100%;
            @include animationTransition(.6s, .85s);
            &.active{
                background: $maincolor;
                height: 100%;
                @include animationTransition(.3s, .6s);
                position: fixed;
                top: 0;
                width: 100%;
                .header-menu{
                    display: flex;
                    flex-direction: column;
                    @include animationTransition;

                    li{
                        margin-bottom: 10px;
                        opacity: 0;
                       
                        a{
                            font-size: 22px;
                            position: relative;
                            display: inline-block;
                            &:before{
                                content: '';
                                display: block;
                                width: .1%;
                                height: 1.2px;
                                background: $secondarycolor;
                                top: 50%;
                                left: 50%;
                                position: absolute;
                                transform: translate(-50%, -50%);
                                @include animationTransition;
                            }
                        }
                        &:hover{
                            a{
                                &:before{
                                    width: 100%;
                                    @include animationTransition;
                                    top: 50%;
                                    left: 60%;
                                    position: absolute;
                                    transform:scale(1.3) translate(-45%, -50%);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

            }
            @include large{
                flex: 0 0 57%;
            }
            .header-menu{
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                justify-content: space-between;
                position: relative;
                display: flex;
                overflow: hidden;
                flex-direction: column;
                @include animationTransition;
                .close-btn{
                    margin-bottom: 25px;
                }
                li{
                    flex: 0 0 16%;
                    text-align: center;
                    // animation: headerLiShow 1s forwards;
                    opacity: 1;
                    margin-bottom: 10px;
                    a{
                        color: $secondarycolor;
                        font-size: 22px;
                        position: relative;
                    }
                    &.mobile-animated{
                        &:nth-child(1){
                            animation: mobileAnimated 1s .5s forwards;
                        }
                        &:nth-child(2){
                            animation: mobileAnimated 1s .6s forwards;
                        }
                        &:nth-child(3){
                            animation: mobileAnimated 1s .7s forwards;
                        }
                        &:nth-child(4){
                            animation: mobileAnimated 1s .8s forwards;
                        }
                        &:nth-child(5){
                            animation: mobileAnimated 1s .9s forwards;
                        }
                        &:last-child{
                            margin-bottom: 0;
                            animation: mobileAnimated 1s .95s forwards;
                        }
                    }
                    &.hide{
                        &:nth-child(1){
                            animation: mobileHide .2s  .1s forwards;
                        }
                        &:nth-child(2){
                            animation: mobileHide .2s  .2s forwards;
                        }
                        &:nth-child(3){
                            animation: mobileHide .2s  .3s forwards;
                        }
                        &:nth-child(4){
                            animation: mobileHide .2s  .4s forwards;
                        }
                        &:nth-child(5){
                            animation: mobileHide .2s  .5s forwards;
                        }
                        &:last-child{
                            margin-bottom: 0;
                            animation: mobileHide .2s  .6s forwards;
                        }
                    }
                    &:hover{
                        a{
                            opacity: 1;
                            &:before{
                                top: -13px;
                                left: -13px;
                                @include animationTransition;
                                opacity: .5;
                            }
                            &:after{
                                top: 15px;
                                right: -15px;
                                color: $secondarycolor;
                                opacity: .5;

                            }
                        }
                    }
                    &:nth-child(1){
                        // animation: headerLiShow 1s 8s forwards;
                    }
                    &:nth-child(2){
                        // animation: headerLiShow 1s 8.2s forwards;
                    }
                    &:nth-child(3){
                        // animation: headerLiShow 1s 8.4s forwards;
                    }
                    &:nth-child(4){
                        // animation: headerLiShow 1s 8.6s forwards;
                    }
                    &:nth-child(5){
                        // animation: headerLiShow 1s 8.8s forwards;
                    }
                }
            }
            .mobile-socials{
                flex-direction: row;
                display: flex;
                width: 90%;
                justify-content: space-between;
                margin: 50px auto 0;
                max-width: 450px;
                li{
                    
                    &.social-mobile-animated{
                        opacity: 0;
                        animation: mobileSocialsShow 1s 1.2s forwards;
                    }
                    &.social-hide{
                        animation: mobileSocialsHide 1s  .5s forwards;
                    }
                    flex: 0 0 auto;
                    a{
                        padding: 10px;
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: $textcolor;
                            @include animationTransition;
                            polygon,polyline,line{
                                stroke: $textcolor;
                                @include animationTransition;
                            }
                        }
                        &:hover{
                            svg{
                                polygon,polyline,line{
                                    stroke: $secondarycolor;
                                    @include animationTransition;
                                }
                                fill: $secondarycolor;
                                @include animationTransition;
                            }
                        }
                    }
                }
            }
            .header-cv{
                display: block;
                margin: 50px auto 0;
                text-align: center;
                &.active{
                    opacity: 0;
                    animation: headerCvShow 1s 1.5s forwards;
                }
                &.hide{
                    animation: headerCvHide 1s .6s forwards;
                }
            }
            .li-hover{
                position: absolute;
                background: $secondarycolor;
                height: 0px;
                bottom: -3px;
                left: 0;
                @include animationTransition(.3s)
            }
            .li-hover-after{
                position: absolute;
                background: $secondarycolor;
                height: 0px;
                bottom: -3px;
                left: 0;
                @include animationTransition(.4s)
            }
        }


    }
}

@keyframes pageHeader{
    from{
        width: 0%
    }
    to{
        width: 100%;
    }
}

@keyframes headerLiShow{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    50%{
        opacity: 1;
        transform: translateY(-5px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes mobileAnimated {
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes mobileHide{
    from{
        opacity: 1;
        
    }
    to{
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes mobileSocialsShow {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes mobileSocialsHide{
    from{
        opacity: 1;
        // transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes headerCvShow{
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes headerCvHide{
    from{
        opacity: 1;
        
    }
    to{
        opacity: 0;
        transform: translateY(10px);
    }
}