header{
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    right: 0;
    overflow: hidden;
    z-index: 299;
    width: 100%;
    padding-top: 15px;
    @include animationTransition;
    @include small {
        display: none;
    }
    @include medium {
        display: block;
    }
    &.active{
        top: 0;
        background: $maincolor;
        box-shadow: 0px 15px 15px -15px $secondarycolor;  
        padding-top: 0px;
        @include animationTransition;
    }
    &.hiden{
        top: -200px;
        @include animationTransition;
    }
    .header-wrapper{
        max-width: 1240px;
        margin:  0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px 0px;
        justify-content: space-between;
        align-items: center;
        .logo{
            max-width: 120px;
            flex: 0 0 20%;
            cursor: pointer;
            svg{
                width: 100%;
                height: 37px;
                path{
                    cursor: pointer;
                    @include animationTransition;
                    fill: transparent;
                    stroke: $textcolor;
                    &:hover{
                        fill: $textcolor;
                        @include animationTransition;
                    }
                }
            }
        
        }
        .page-navigation{
            flex: 0 0 57%;
            position: relative;
            ul{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                justify-content: space-between;
                position: relative;
                li{
                    flex: 0 0 16%;
                    text-align: center;
                    animation: headerLiShow 1s forwards;
                    opacity: 0;
                    a{
                        color: $secondarycolor;
                        font-size: 18px;
                        position: relative;
                    }
                    &:hover{
                        a{
                            opacity: 1;
                            &:before{
                                top: -13px;
                                left: -13px;
                                @include animationTransition;
                                opacity: .5;
                            }
                            &:after{
                                top: 15px;
                                right: -15px;
                                color: $secondarycolor;
                                opacity: .5;

                            }
                        }
                    }
                    &:nth-child(1){
                        animation: headerLiShow 1s 8s forwards;
                    }
                    &:nth-child(2){
                        animation: headerLiShow 1s 8.2s forwards;
                    }
                    &:nth-child(3){
                        animation: headerLiShow 1s 8.4s forwards;
                    }
                    &:nth-child(4){
                        animation: headerLiShow 1s 8.6s forwards;
                    }
                    &:nth-child(5){
                        animation: headerLiShow 1s 8.8s forwards;
                    }
                }
            }
            .li-hover{
                position: absolute;
                background: $secondarycolor;
                height: 0px;
                bottom: -3px;
                left: 0;
                @include animationTransition(.3s)
            }
            .li-hover-after{
                position: absolute;
                background: $secondarycolor;
                height: 0px;
                bottom: -3px;
                left: 0;
                @include animationTransition(.4s)
            }
        }

    }
}

@keyframes pageHeader{
    from{
        width: 0%
    }
    to{
        width: 100%;
    }
}

@keyframes headerLiShow{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    50%{
        opacity: 1;
        transform: translateY(-5px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}