#portfolio{
    padding: 0 20px 50px;
    @include medium { 
        padding-bottom: 100;
    }
    .portfolio-works-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -20px;
        .work{
            position: relative;
            overflow: hidden;
            height: 270px;
            border-radius: 5px;
            flex-basis: 100%;
            max-width: 420px;
            margin-bottom: 20px;
            margin-left: 20px;
            opacity: 0;
            @include medium { 
                flex-basis: 45%;
                height: 320px;
            }
            @include large {
                flex-basis: calc(33.333% - 20px);
                height: 320px;
            }
            .work-thumb{
                width: 100%;
                height: 80%;
            }
            .work-footer{
                margin-top: -10px;
                background: $darkenmaincolor;
                text-align: center;
                border-radius:  0 0 10px 10px;
                p{
                  padding: 15px 0;  
                }
            }
            .work-hover{
                background: $darkenmaincolor;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                @include animationTransition;
                padding: 25px 15px;
                .work-header{
                    display: flex;
                    align-items: center;
                    .folder{
                        width: 35px;
                        height: 35px;
                        display: inline-block;
                        svg{
                            fill: $secondarycolor;
                            path{
                                stroke: $secondarycolor;
                            }
                        }
                    }
                    .work-header-links{
                        display: inline-block;
                        margin-left: auto;
                        .work-hover-gitlab, .work-hover-live{
                            width: 25px;
                            display: inline-block;
                            margin-left: 15px;
                            svg{
                                fill: $textcolor;
                                @include animationTransition;
                            }
                            &:hover{
                                svg{
                                fill: $secondarycolor;
                                @include animationTransition;
                                }
                            }
                        }
                    }
                }
                h4{
                    padding-top: 10px;
                    font-size: 16px;
                    padding-bottom: 10px;
                    color: $textcolor;
                    @include medium {
                        font-size: 20px;
                    }
                }
                p{
                    font-size: 12px;
                    opacity: .7;
                    @include medium {
                        font-size: 14px;
                    }
                    @include xlarge {
                        font-size: 16px;
                    }
                }
                .work-technologies{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    padding-top: 20px;
                    position: absolute;
                    bottom: 10px;
                    span{
                        flex: 0 0 auto;
                        color: $secondarycolor;
                        padding-right: 20px;
                        opacity: .7;
                        text-transform: uppercase;
                        &:last-child{
                            padding-right: 0;
                        }
                    }
                }
            }
            &:hover{
                .work-hover{
                    top: 0;
                    @include animationTransition;
                }
            }
            &:nth-child(1){
                &.active{
                    animation: work-show 1s forwards;
                }
            }
            &:nth-child(2){
                &.active{
                    animation: work-show 1s .2s forwards;
                }
            }
            &:nth-child(3){
                &.active{
                    animation: work-show 1s .4s forwards;
                }
            }
            &:nth-child(4){
                &.active{
                    animation: work-show 1s forwards;
                }
            }

        }
    }
}

@keyframes work-show{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    70%{
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}