#preloader{
    position: fixed;
    top: 0;
    background: $maincolor;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    overflow: hidden;
    @include animationTransition(.2s);
    z-index: 300;
    animation: preloaderhide 1s 3.5s forwards;
    // SVG TEXT
    .logo-wrapper{
      width: 100%;
      max-width: 545px;
      .logo-svg{
          width: 100%;
          height: auto;
          @media screen and (min-width: 640px){
          }
          path{
            stroke: $textcolor;
              &:nth-child(1){
                  stroke-dasharray: 425;
                  stroke-dashoffset: 425;
                  animation: line-anim 2s ease forwards 0.3s;
              }
              &:nth-child(2){
                  stroke-dasharray: 345;
                  stroke-dashoffset: 345;
                  animation: line-anim 2s ease forwards 0.3s;
              }
              &:nth-child(3){
                  stroke-dasharray: 125;
                  stroke-dashoffset: 125;
                  animation: line-anim 2s ease forwards .3s;
              }
              &:nth-child(4){
                  stroke-dasharray: 710;
                  stroke-dashoffset: 710;
                  animation: line-anim 2s ease forwards .3s;
              }
              &:nth-child(5){
                  stroke-dasharray:455;
                  stroke-dashoffset: 455;
                  animation: line-anim 2s ease forwards .3s;
              }
              &:nth-child(6){
                  stroke-dasharray: 423;
                  stroke-dashoffset: 423;
                  animation: line-anim 2s ease forwards .3s;
              }
              &:nth-child(7){
                  stroke-dasharray: 407;
                  stroke-dashoffset: 407;
                  animation: line-anim 2s ease forwards .3s;
              }
              &:nth-child(8){
                  stroke-dasharray: 337;
                  stroke-dashoffset: 337;
                  animation: line-anim 2s ease forwards 0.55s;
              }
              &:nth-child(9){
                  stroke-dasharray: 376;
                  stroke-dashoffset: 376;
                  animation: line-anim 2s ease forwards 0.6s;
              }
              &:nth-child(10){
                  stroke-dasharray: 345;
                  stroke-dashoffset: 345;
                  animation: line-anim 2s ease forwards 0.65s;
              }

          }
      }
      .logo-breadcrumps{
          display: block;
          margin-left: auto;
          margin-top: 10px;
          path{
              stroke: $secondarycolor;
              stroke-dasharray: 425;
              stroke-dashoffset: 425;
              animation:  line-anim 2s ease forwards .2s;
              animation-delay: 1.9s;
          }
      }
    }
    // SVG TEXT
    .preloader-loaded{
        position: absolute;
        bottom: 20px;
        width: 0px;
        height: 1px;
        animation: preloaderAnimated 5s forwards;
        background: $maincolor;
    }
}

// SVG ANIMATION
@keyframes line-anim{
    0%{
        fill: transparent;
    }
    50%{
        fill: transparent;
    }
    90%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
    }

}


// PRELOADER HIDE ANIMATION
@keyframes preloaderhide{
  0% {
      top: 0px;
      padding-top: 0;
    }
    25%{
      top: 0px;
      padding-top: 100px;
    }
    100% {
      top: -100vh;
      transform: scale(0.8);
    }
}

@keyframes preloaderAnimated{
    from{
        width: 0px;
    }
    to{
        width: 100px;
    }
}