#skills{
    padding-bottom: 100px;
    .section-container{
        .skills-card-wrapper{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            .skill-card{
                flex: 0 0 32%;
                max-width: 400px;
                position: relative;
                @include animationTransition;
                opacity: 0;
                
                .skill-card-content{
                    box-shadow: -5px -5px 10px rgba($secondarycolor, .2),
                    5px 5px 10px rgba(0,0,0,.5);
                    border-radius: 15px;
                    padding: 0 25px 15px;
                    height: 100%;
                    min-height: 435px;
                    @include animationTransition;
                    position: relative;
                    overflow: hidden;
                    text-align: left;
                
                    .skill-more{
                        max-height: 1px;
                        overflow: hidden;
                        @include animationTransition(2s, -.4s);
                        position: relative;
                        z-index: 200;
                    }   
                    .skill-img{
                        text-align: center;
                        padding: 20px 0;
                        position: relative;
                        z-index: 100;
                        background: $maincolor;
                        transform: translateY(100px);
                        @include animationTransition;
                        position: relative;
                        z-index: 50;
                        svg{
                            max-width: 170px;
                            height: 100%;
                            path, circle{
                                fill: $textcolor;
                                @include animationTransition;
                            }
                            
                        }
                    }
                    .skill-text{
                        padding: 20px 0;
                        transform: translateY(-50%);
                        @include animationTransition;
                        h3{
                            color: $secondarycolor;
                            padding-bottom: 10px;
                        }
                        p{
                            padding-bottom: 15px;
                        }
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(../img/decorate-sprite.png) center no-repeat;
                        width: 120px;
                        height: 120px;
                        background-size: cover;
                        background-position-y: 5px;
                        z-index: 100;
                        @include animationTransition;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background: url(../img/decorate-sprite.png) center no-repeat;
                        width: 120px;
                        height: 120px;
                        background-size: cover;
                        background-position-y: -110px;
                        z-index: 100;
                        @include animationTransition;
                    }
                    &:hover{
                        @include animationTransition;
                        height: 100%;
                        box-shadow: inset -5px -5px 10px rgba($secondarycolor, .2),
                        inset 5px 5px 10px rgba(0,0,0,.5);
                        .skill-img{
                            transform: translateY(8px);
                            @include animationTransition;
                            svg{
                                path{
                                    @include animationTransition;
                                    fill: $darkenmaincolor;
                                    &.cls-1, &.cls-3{
                                        fill: $secondarycolor;
                                    }
                                }
                                circle{
                                    fill: $secondarycolor;

                                }
                            }
                        }
                        .skill-text{
                            transform: translateY(0);
                            @include animationTransition;
                        }
                        &.shown{
                            @include animationTransition;  
                            .skill-more{
                                max-height: 1px;
                                @include animationTransition(.7s, -.2s);
                            }                    
                            .skill-img{
                                max-height: 1px;
                                overflow: hidden;
                                padding: 0;
                                animation: showSkillImg .7s .55s forwards;
                            }
                            .skill-text{
                                max-height: 1px;
                                overflow: hidden;
                                padding: 0;
                                animation: showSkillImg .7s .55s forwards;
                            }
                        }
                        &:before{
                            background-position-y: -110px;
                            @include animationTransition;
                        }
                        &:after{
                            background-position-y: 5px;
                            @include animationTransition;
                        }
                    }
                    &.active{
                        &:after{
                            background: none;
                        }
                        &:before{
                            background: none;
                        }
                        @include animationTransition;
                        .skill-more{
                            max-height: 900px;
                            @include animationTransition(.7s, .4s);
                        }
                        .skill-img{
                            animation: hideSkillImg .5s forwards;
                        }
                        .skill-text{
                            animation: hideSkillText .5s forwards;
                        }
                    }
                    &.shown{
                        @include animationTransition;  
                        .skill-more{
                            max-height: 1px;
                            @include animationTransition(1s, -.4s);
                        }             
                        .skill-img{
                            max-height: 1px;
                            overflow: hidden;
                            @include animationTransition;
                            animation: showSkillImg 1s .8s forwards;
                            padding: 20px 0;
                        }
                        .skill-text{
                            max-height: 1px;
                            overflow: hidden;
                            padding: 0;
                            animation: showSkillImg 1s .8s forwards;
                        }
                    }
                }
                &.active{
                    &:nth-child(1){
                        animation: cardAppearence 1s 1s forwards;
                    }
                    &:nth-child(2){
                        animation: cardAppearence 1s 1.2s forwards;
                    }
                    &:nth-child(3){
                        animation: cardAppearence 1s 1.5s forwards;
                    }
                }
                &.hard-skill-card{
                    .hard-skill-list{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        max-height: 500px;
                        .hard-skill{
                            padding-top: 15px;
                            flex: 0 1 100%;
                            span{
                                color: $textcolor;
                                font-size: 18px;
                                display: block;
                                margin-bottom: 10px;
                            }
                            li{
                                flex: 0 0 auto;
                                padding-left: 20px;
                                position: relative;
                                color: $textcolor;
                                flex: 0 0 100%;
                                &:before{
                                    content: "\22D7";
                                    color: $secondarycolor;
                                    left: 0;
                                    position: absolute;
                                    vertical-align: middle;
                                    font-size: 15px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                            &.technologies{
                                margin-right: 20px;
                            }
                            &.utilites{
                                flex: 0 1 50%;
                                li{
                                    &:before{
                                        color: #3498db;
                                    }
                                }
                            }
                            &.programs{
                                flex: 0 1 50%;
                                li{
                                    &:before{
                                        color: #e67e22;
                                    }
                                }
                            }

                        }

                    }
                }
                &.soft-skill-card{
                    strong{
                        font-weight: 400;
                        color: $secondarycolor;
                    }
                }
                &.hobbies-card{
                    strong{
                        font-weight: 400;
                        color: $secondarycolor;
                    }
                }
            }
        }
    }
}

// CARD APPEREANCE

@keyframes cardAppearence {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

// HIDE ANIMATION
@keyframes hideSkillImg{
    from{
        transform: translateY(8px);
        opacity: 1;
        height: 100%;
    }
    to{
        transform: translateY(0px);
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}

@keyframes hideSkillText{
    from{
        transform: translateY(0px);
        opacity: 1;
        height: 100%;
    }

    to{
        transform: translateY(-5px);
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;

    }
}
// SHOW ANIMATION

@keyframes showSkillImg{
    from{ 
        max-height: 1px;
        overflow: hidden;
        padding: 0;
    }
    to{
        max-height: 220px;
        padding: 20px 0;
        overflow: unset;
    }
}